*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
header .logo{
    margin: 30px;
}
header .logo img{
    width: 50px;
    height: 50px;
}
header .toggler{
    margin: 40px;
    z-index: 10000;
}
header .toggler i{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    transition: all .5s ease;
}
header .toggler i:hover{
    transform: scale(1.2);
    transition: all .5s ease;
}
header .toggler #cross_{
    display: none;
}
#navlinks a{
    display: block;
    margin-top: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    color: #fff;
    position: relative;
    transition: all .5s ease;
    z-index: 3;
    
}
#navlinks a:hover{
    color: silver;
    transition: all .5s ease;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 60px;
}
.container .content h1{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 110px;
    margin: 30px;
    border-bottom: 1px solid silver;
}
.container .content p{
    color: silver;
    margin: 0 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
/* buttons */

a.buttons{
    margin: 50px 100px;
    position: absolute;
    z-index: 3000000000000;
    text-decoration: none;
    color: #fff;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 25px;
    padding:10px 40px;
    border: none;
    outline: none;
    border: 2px solid whitesmoke;
    border-radius: 40px;
    background-color: rgb(46, 46, 46);
    transition: .5s;
}
a.buttons:hover{
    background: linear-gradient(0deg,#fff,#000);
    transition: .5s;
}
 
/* footers */
.footer{
    text-align: right;
    display: flex;
    flex-direction: column;
    position: relative; 
    bottom:100px;
    width: 20px;
    margin-left: 95%;
    z-index: 10000;
}
.footer i{
    margin: 10px 0px;
    font-size: 25px;
    color: #fff;
    transition: all .5s ease;
    cursor: pointer;
}
.footer i:hover{
    transform: scale(1.3);
    color: #000;   
    transition: all .5s ease;
}